<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>01_HelloWorld</title>
</head>

<body>

  <!--
  1. 引入Vue.js
  2. 创建Vue对象
    el : 指定根element(选择器)
    data : 初始化数据(页面可以访问)
  3. 双向数据绑定 : v-model
  4. 显示数据 : {{xxx}}
  5. 理解vue的mvvm实现
-->
  <div id="test">

    <!-- 添加单行 -->
    <input type="text" v-model="message">
    <p>hello,{{message}}</p>


    <!-- textarea这代表添加多行 -->
    <textarea v-model="message" placeholder="添加多行"></textarea><br>

    <!-- checkbox单选，并且绑定为布尔值 -->
    <input type="checkbox" id="checkbox" v-model="message">
    <label for="checkbox">{{ message }}</label>
  </div>

  <div id="test2">
    <input type="checkbox" id="red" value="red" v-model="checkedColor">
    <label for="red">red</label>

    <input type="checkbox" id="green" value="green" v-model="checkedColor">
    <label for="green">green</label>

    <input type="checkbox" id="pink" value="pink" v-model="checkedColor">
    <label for="pink">pink</label>

    <p>勾选的颜色是：{{checkedColor}}</p>
  </div>

</body>
<script src="../js/vue.js"></script>
<script>
  new Vue({
    el: '#test',
    data: {
      message: 'true'
    }
  })

  new Vue({
    el: '#test2',
    data: {
      checkedColor: []
    }
  })
</script>

</html>